
{% extends "layout.html" %}

{% block title %}
    Stock Choice
{% endblock %}

{% block main %}
    <p>Please enter two tickers you would like to compare</p>
    <form action="/stocks" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stock1" name="stock1" placeholder="Ticker" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="stock2" name="stock2" placeholder="Ticker" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}